<?xml version='1.0' encoding='utf-8'?>
<widget id="org.apache.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nazar 57708</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="kn57708@zut.edu.pl" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="electron">
    <icon src="res/electron/weather-icon.png" />
    <preference name="ElectronSettingsFilePath"
        value="res/electron/settings.json" />
</platform>
</widget>
